.rightbar.opened{
    position: fixed;
    top: 0;
    right: 0;
    background: white;
    width: 300px;
    height: 100%;
    transition: all 0.3s ease;
    z-index: 4;
    border-left: 1px solid rgb(224, 224, 224); 
    background-color: white;
  }
  .rightbar.opened-shadow{
    position: fixed;
    top: 0;
    right: 0;
    background: white;
    width: 300px;
    height: 100%;
    transition: all 0.3s ease;
    z-index: 4;
    background-color: white;
    -webkit-box-shadow: -15px 0px 12px -10px rgb(196, 196, 196);
    -moz-box-shadow: -15px 0px 12px -10px rgb(196, 196, 196);
    box-shadow: -15px 0px 12px -10px rgb(196, 196, 196);
  }
  .rightbar.closed{
    position: fixed;
    top: 0;
    right: -270px;
    background: white;
    width: 300px;
    height: 100%;
    transition: all 0.3s ease;
    z-index: 4;
    padding-left: 30px;
    -webkit-box-shadow: -15px 0px 12px -10px rgb(196, 196, 196);
    -moz-box-shadow: -15px 0px 12px -10px rgb(196, 196, 196);
    box-shadow: -15px 0px 12px -10px rgb(196, 196, 196);
    /* border-left: 1px solid rgb(224, 224, 224);  */
    
  }

  .rightbar .spending{
      margin-top: 150px;    
  }

  .rightbar .toggleButton {
    position: relative;
    top: 50vh;
    left: -30px;
    border: none;
    background-color: transparent;
  }

  @media only screen and (min-width: 1745px) {
    .rightbar.opened{
        position: fixed;
        top: 0;
        right: 0;
        background: white;
        width: 350px;
        height: 100%;
        transition: all 0.3s ease;
        z-index: 4;
        border-left: 1px solid rgb(224, 224, 224); 
        background-color: white;
      }
  }