.futureSection .wrapper {
    width: 100%;
    padding-bottom: 25%;
}
.futureSection .promo h4 {
    padding: 0px 35px;
    padding-top: 20%;
    margin: 0;
    font-family: 'Archivo';
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;    
    position: relative;
}
@keyframes candy-rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.futureSection .candy{

    display: block;
    width: 25%;
    margin: 0 auto;
    margin-top: -50px;
    animation: candy-rotate 3s ease infinite; /*linear makes constant speed (default on "ease")*/
    transform-origin: center;
    transform-box: fill-box;
}

@media only screen and (min-width: 500px) {
    .futureSection .candy{
        width: 125px;
        margin-top: 5%;
    }
}    
@media only screen and (min-width: 768px) {
    .futureSection .wrapper {
        padding-bottom: 20%;
    }
} 
@media only screen and (min-width: 1024px) {
    .futureSection .promo h4 {
        font-size: 40px;
        line-height: 45px;
        padding-left: 135px;
        padding-right: 135px;
    }
} 
@media only screen and (min-width: 1200px) {
    .futureSection .promo h4 {
        padding-top: 10%;   
        margin-right: 10%;
        text-align: left;
        display: block;
        font-size: 35px;
        padding-bottom: 4%;
        font-family: "Archivo"
    }
    .futureSection .wrapper {
        padding-bottom: 0;
    }
    .futureSection .candy{
        width: 10%;
        margin-top: 0;
        margin-bottom: 10%;
    }
} 
/* @media only screen and (min-width: 1500px) {
    .futureSection .wrapper {
        padding-bottom: 0;
    }
    .futureSection .candy{
        width: 10%;
        margin-top: 0;
        margin-bottom: 10%;
    }
}  */


