.CategoryChoice{
    margin-top: 5%;
    margin-bottom: 5%;
}


.form-group {
    margin-bottom: 0rem;
}


.col-md-6 {
    padding-left: 0px
}

.col-md-7 {
    padding-left: 0px
}

.col-md-12 {
    padding-left: 0px
}

.categoryButton {
    float:right;
}

.AddCategory{
    margin-top: 5%;
    margin-bottom:10%;
}
.Category {
    margin-bottom: 10%;
}
