
.categories h1 {
    font-family: Source Sans Pro;
    font-weight: bold;
    font-size:34px;
}

.categories .form-label {
    font-family: Source Sans Pro;
    font-weight: bold;
    font-size: 20px;
}

.categories .form-label h2 {
    font-family: Source Sans Pro;
    font-weight: bold;
    font-size: 24px;
}



.categories .AddCategory, .DeleteCategory  {
    margin-top: 50px;
    margin-bottom:80px;
}

.categories .CategoryChoice  {
    margin-top: 50px;
    margin-bottom:85px;
}

.categories .AddCategory:before, .DeleteCategory:before, .Change:before {
    content: '';
    width: 100%;
    border-top: 1px solid rgb(224, 224, 224); 
    position: absolute;
    left: 0;
    right: 0;
    margin-top: -20px;
    z-index: 1;
}
.categories .Change {
    margin-top: 50px;
    margin-bottom: 0px;
}
.categories .Change2{
    margin-top: 5px;
    margin-bottom: 80px;
}

.categories form {
    margin-top: 50px;
    margin-bottom:50px;
}

.categories .form-group {
    margin-bottom: 4px;
}

.col-md-6 {
    padding-left: 0px
}

.col-md-7 {
    padding-left: 0px
}

.col-md-12 {
    padding-left: 0px
}


.categories .categoryButton1 {
    float: right;
    font-family: Quicksand;
    font-size: 14px;
    color: white;
    font-weight: 600;
    padding: 6px 14px;
    border: 1px solid white;
    background-color: #12A874;
    transition: all 0.3s ease 0s;
    /* box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1); */
    border-radius: 20px;
    text-align: center;
}

.categories .categoryButton2 {
    float: right;
    font-family: Quicksand;
    font-size: 14px;
    color: white;
    font-weight: 600;
    padding: 6px 14px;
    border: 1px solid white;
    background-color: rgb(102, 102, 255);
    transition: all 0.3s ease 0s;
    /* box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1); */
    border-radius: 20px;
    text-align: center;
}

.categories .categoryButton3 {
    float: right;
    font-family: Quicksand;
    font-size: 14px;
    color: white;
    font-weight: 600;
    padding: 6px 14px;
    border: 1px solid white;
    background-color: #ff2b2b;
    transition: all 0.3s ease 0s;
    /* box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1); */
    border-radius: 20px;
    text-align: center;
}

.categoryButton1:hover {
    filter: brightness(1.1); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1  );
    border: 1px solid transparent;
}

.categoryButton2:hover {
    filter: brightness(1.4); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;

}

.categoryButton3:hover {
    filter: brightness(1.4); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;

}