.list-group-item  {
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}
.list-group-item .row.one {
    font-family: Quicksand;
    font-weight: bolder;
    font-size:16px;
}
.list-group-item .row.one .col-sm.text-right h1 {
    font-family: Lato;
    font-size: 20px;
    margin: 0;
}
.list-group-item .row.two {
    font-family: Quicksand;
    font-weight: normal;
    font-size:14px;
    color: grey;
}

@media only screen and (min-width: 500px) {
    .list-group-item  {
        padding-left: 10px;
        padding-right: 10px;
        border: none;
    }
}

@media only screen and (min-width: 1440px) {
    .list-group-item  {
        padding-left: 10px;
        padding-right: 35px;
        border: none;
    }
}