.navbar2 .navbar
{
    position: fixed;
    top: 0;
    width: 100%;
    font-weight: bold;
    z-index: 5;    
    background: white;
    transition: 0.2s;
}
/* .navbar2 .navbar-collapse  {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    background: white;
} */
.navbar2 .navbar.active {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px px -6px #999;
    background-color: white;
}
.navbar2 .nav-link {
    cursor: pointer;
}
.navbar2 .menuButton{ 
    cursor: pointer;
    transition: all .5s ease-in-out;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: white;
} 
.navbar2 .menuButton .burger{
    width: 26px;
    height: 3px;
    background: black;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    cursor: pointer;
  }

.navbar2 .menuButton .burger::before, 
.navbar2 .menuButton .burger::after {
    content: '';
    position: absolute;
    width: 26px;
    height: 3px;
    background: black;
    border-radius: 5px;
    transition: all .5s ease-out;
}

.navbar2 .menuButton .burger::before {
    transform: translateY(-8px);
}

.navbar2 .menuButton .burger::after {
    transform: translateY(8px);
}

.navbar2 .menuButton.open .burger {
    transform: translateX(-30px);
    background: transparent;
    box-shadow: none;
}
.navbar2 .menuButton.open .burger::before {
    transform: rotate(45deg) translate(20px, -20px);
}
.navbar2 .menuButton.open .burger::after {
    transform: rotate(-45deg) translate(20px, 20px);
}

.navbar2 .navbar-brand .logo{
    margin-top: 0px;
    width: 45px;
    cursor: pointer;
    margin-left: 5px;
}
.navbar2 .nav-link {
    color: black;
    font-family: 'Archivo' !important; 
    font-size: 20px;
}
.navbar2 .login { 
    color: #12A874;
    font-family: Arial;
    padding: 8px 8px;
    font-size: 18px;
    border: 1px solid transparent;
    background-color: white;
    transition: all 0.3s ease 0s;
    border-radius: 6px;
}
.navbar2 .signup {
    font-family: Arial;
    font-size: 18px;
    color: white;
    padding: 5px 14px;
    margin: 4px;
    border: 1px solid white;
    background-color: #12A874;
    transition: all 0.3s ease 0s; 
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    text-align: center;
}
 .navbar2 .login:hover{
    color: #FFA927;
}
.navbar2 .signup:hover{
    border:1px solid transparent;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    color: black;
    background-color: #FFBE5B;
} 
.navbar2 .nav-link:hover {
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    box-shadow:  0 0 0 2px rgb(241, 241, 241); 
    border-bottom: none;
    color: #FF6A67;
    transition: all 0.3s ease 0s;
    }

@media only screen and (min-width: 1024px) {
    .navbar2 .navbar-brand .logo{
        width: 70px;
    }
    .navbar2 .nav-link {
        color: black;
        font-family: 'Archivo'; 
        font-size: 26px;
    }
    .navbar2 .login { 
        font-size: 24px;
    }
    .navbar2 .signup {
        font-size: 24px;
    }
    .navbar2 .menuButton .burger{
        width: 40px;
        height: 4px;
      }
    .navbar2 .menuButton .burger::before, 
    .navbar2 .menuButton .burger::after {
        width: 40px;
        height: 4px;
    }
    .navbar2 .menuButton .burger::before {
        transform: translateY(-11px);
    }
    .navbar2 .menuButton .burger::after {
        transform: translateY(11px);
    }
}

@media only screen and (min-width: 1200px) {
    .navbar2 .container-fluid {
        width: 90%;
    }
    .navbar2 .menuButton  {
        display: none;
    }
    .navbar2 .navbar-brand {
        font-family: 'Archivo';
        color: black !important;
        font-size: 18px;
        cursor: pointer;
    }
    .navbar2 .navbar-brand .logo{
        width: 50px;
        margin-top: -8px;
        margin-right: 5px; 
    }
    .navbar2 .collapse {
        margin-left: 100px;
    }
   
    .navbar2 .container-fluid {
        text-align: center;
    }
    .navbar2 .login {
        margin-left: 6rem;
        white-space: nowrap;
        font-size: 16px;
    }
    .navbar2 .signup {
        white-space: nowrap;
        font-size: 16px;
    }
    .navbar2 .nav-link {
        margin-left: 20px;
        margin-right: 20px;
        white-space: nowrap;
        font-size: 16px;
        font-weight: 600;
    }
    .navbar2 .nav-link:hover {
        background-color: rgb(241, 241, 241);
        border-radius: 10px;
        box-shadow:  0 0 0 2px rgb(241, 241, 241); 
        border-bottom: none;
        color: #FF6A67;
        transition: all 0.3s ease 0s;
    }

}
@media only screen and (min-width: 1366px) {
    .navbar2 .collapse {
        margin-left: 140px;
    }
    .navbar2 .login {
        margin-left: 145px;
    }
    .navbar2 .navbar-brand {
        font-size: 18px;
        letter-spacing: -.2px;
    }
}
@media only screen and (min-width: 1366px) {
    .navbar2 .collapse {
        margin-left: 140px;
    }
    .navbar2 .login {
        margin-left: 145px;
    }
    .navbar2 .navbar-brand {
        font-size: 18px;
        letter-spacing: -.2px;
    }
}
@media only screen and (min-width: 1440px) {
    .navbar2 .collapse {
        margin-left: 185px;
    }
    .navbar2 .login {
        margin-left: 155px;
    }
}
@media only screen and (min-width: 1530px) {
    .navbar2 .collapse {
        margin-left: 200px;
    }
    .navbar2 .login {
        margin-left: 180px;
    }
}
@media only screen and (min-width: 1920px) {
    .navbar2 .container {
        max-width: 1600px;
    }
    .navbar2 .collapse {
        margin-left: 320px;
    }
    .navbar2 .login {
        margin-left: 300px;
        white-space: nowrap;
    }
    .navbar2 .nav-link {
        margin-left: 30px;
        margin-right: 30px;
        white-space: nowrap;
    }
    .navbar2 .nav-link:hover {
        background-color: rgb(241, 241, 241);
        border-radius: 10px;
        box-shadow:  0 0 0 2px rgb(241, 241, 241); 
        border-bottom: none;
    }
}
