.card.two{
    /* cursor: pointer; */
    width: 28vh;
    height: 42vh;
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253)!important;
    position: relative;
    z-index: 1;
    background: #3f3d3dd0;
    right: 10%;
}

.card.two::after{
    content: "";
    position: absolute;
    width: 100.5%;
    height: 100.5%;
    top: -1px;
    left: -1px;
    background: white;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 400ms ease-in;
}

/* when hovered, we call the ::after pseudo element */
.card.two:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}


.card.two .card-body{
    padding-top: 5%;
}

.card.two .card-img-top{
    width: 100%;
}

.card.two .card-title{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding: 0;
    color: white;
}

.card.two .card-subtitle {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 550;
    font-size: 14px;
    padding: 0;
    color: white;
}

.card.two .card-text{
    /* position: relative;
    z-index: 1; */
    font-family: Questrial;
    font-weight: 300;
    font-size: 12px;
    padding: 0 6%;
    margin-top: 5%;
    margin-bottom: 0;
    color: white!important;
}

