.page-header {
    margin: 2vw;
}

.pagination {
    margin-top: 4vh;
    margin-bottom: 2vh;
}

.form-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
}

.form-group-sort {
    width: 10vw;
    margin-left: 0.5vw;
    padding-right: 20px;
}

.header-list {
    flex: 1;
    justify-content: space-evenly;
}

.list-group-item-t  {
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    list-style-type: none;
}

.trans-headings {
    flex-flow: row;
    padding: 20px;
    font-family: Lato;
    font-size: 20px;
}