.page-header {
    margin: 2vw;
}

.alltrans .main-header{
    font-family: Source Sans Pro;
    font-weight: bold;
    font-size:34px;
}

.alltrans h1{
    font-family: Quicksand;
    font-weight: bolder;
}

.pagination {
    margin-top: 4vh;
    margin-bottom: 2vh;
}

.form-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
}

.form-group-sort {
    width: 10vw;
    margin-left: 0.5vw;
    padding-right: 10px;
}

.header-list {
    flex: 1;
    justify-content: space-evenly;
}

.list-group-item-t  {
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;
    list-style-type: none;
}

.list-group-item-h  {
    border: none;
    list-style-type: none;
}

.trans-headings {
    flex-flow: row;
    padding-top: 20px;
    font-size: 20px;
}

.pagination > .active > a
{
    color: white;
    background-color: #12A874 !important;
    border: solid 1px #12A874 !important;
}

.pagination > .active > a:hover
{
    background-color: #12A874 !important;
    border: solid 1px #12A874;
}

.trans-buttons {
    padding-right: 10px;
}
