
.cashFlow h2 {
    font-family: Source Sans Pro;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 0;
}

.cashFlow p {
    font-family: Quicksand;
    font-weight: bolder;
    font-size: 12px;
    color: grey;
}

.cashFlow .progress {
    background-color: transparent;
    border-radius: 20px;
    height: 30px;
    width: 300px;
}

.cashFlow .progress-gain{
    /* background: linear-gradient(to left, green, red); */
    background: #12A874;
    box-shadow: 0 3px 3px -5px grey, 0 2px 5px grey;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    height: 100%;
    width: 0;
    opacity: 0;
    transition: 1s ease 0.3s;

}
.cashFlow .progress-spent{
    /* background: linear-gradient(to left, green, red); */
    background: #ff0000;
    box-shadow: 0 3px 3px -5px grey, 0 2px 5px grey;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    height: 100%;
    width: 0;
    opacity: 0;
    transition: 1s ease 0.3s;

}

.cashFlow .inRed {
    color: red;
    margin-top: 10px;
    margin-left: 30px;
    font-weight: bolder;
    font-size: 14px;
}
.cashFlow .inGreen {
    color: #12A874;
    margin-top: 10px;
    margin-left: 30px;
    font-weight: bolder;
    font-size: 14px;
}

