
.featuresSection .wrapper {
    width: 100%;
}
.featuresSection .promo h4 {
    padding: 0px 35px;
    padding-top: 20%;
    margin: 0;
    font-family: 'Archivo';
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    color: white;    
    position: relative;
}
.featuresSection .promo p {
    padding: 0 35px 20px;
    margin: 0;
    font-family: 'Archivo';
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    color: white;    
    position: relative;
}
.featuresSection .row {
    margin: 0;
}
.featuresSection .col {
    padding: 2%;
}
@media only screen and (min-width: 768px) {
    .featuresSection .promo p {
        padding-left: 100px;
        padding-right: 100px;
    }
    .featuresSection .promo h4 {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media only screen and (min-width: 1024px) {
    .featuresSection .promo h4 {
        padding-top: 15%;
        font-size: 40px;
        line-height: 45px;
    }
    .featuresSection .promo p {
        font-size: 40px;
        padding-bottom: 5%;
    }
}
@media only screen and (min-width: 1200px) {
    .featuresSection .promo h4 {
        padding-top: 10%;
        font-size: 35px;
        line-height: 45px;
        text-align: left;
        margin-left: 5%;
    }
    .featuresSection .promo p {
        font-size: 35px;
        padding-bottom: 2%;
        text-align: left;
        margin-left: 5%;
    }
    .featuresSection .col {
        padding: 2% 0 2%;
    }
    .featuresSection .container-fluid {
        width: 75%;
    }
}
@media only screen and (min-width: 1366px) {
    .featuresSection .col {
        padding: 2% 0 2%;
    }
    .featuresSection .container-fluid {
        width: 75%;
    }
}
