*:focus {
    outline: 0 !important;
}
.appWrapper{
    width: 100%;
    display: flex;
    background: white;
}

.appWrapper .sidebar ul li.home a:hover,
.appWrapper .sidebar ul li.analytics a:hover,
.appWrapper .sidebar ul li.transactions a:hover,
.appWrapper .sidebar ul li.categories a:hover {
  background-color: rgb(240, 240, 240);
}
.appWrapper .sidebar ul li.active a{
  color: #12A874;
  font-weight: bold;
  position: relative;

  
}
.appWrapper .sidebar ul li.active a::after {
  content: "";
  border-right: 2px solid #12A874;
  position: absolute;
  top: 10px; 
  bottom: 10px; 
  right: 0px;
}

.appWrapper .main_container{
    width: 100%;
    margin-top: 0;
    margin-left: 270px;
    margin-right: 300px;
    margin-bottom: 0;
    padding: 30px;
    padding-top: 100px;
    transition: all 0.3s ease;
}

.appWrapper .main_container .item{
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}

@media only screen and (min-width: 500px) {
  .appWrapper .main_container{
    width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 270px;
    margin-bottom: 0;
    padding: 30px;
    padding-top: 100px;
    transition: all 0.3s ease;
}
}

@media only screen and (min-width: 1201px) {
    .appWrapper .main_container{
      width: 100%;
      margin-top: 0;
      margin-left: 270px;
      margin-right: 300px;
      margin-bottom: 0;
      padding: 30px;
      padding-top: 100px;
      transition: all 0.3s ease;
  }
}

@media only screen and (min-width: 1745px) {
  .appWrapper .main_container{
    width: 100%;
    margin-top: 0;
    margin-left: 270px;
    margin-right: 350px;
    margin-bottom: 0;
    padding: 30px;
    padding-top: 100px;
    transition: all 0.3s ease;
}
}

