{% extends "budgeting/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group" class="asteriskField">
            <legend class="border-bottom mb-4">
                Enter Current Balance
            </legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">
                Confirm Current Balance
            </button>
        </div>
    </form>
</div>
{% endblock content %}