.registerTitle {
    color: blue;
    text-align: center;
}
/*
.registerPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-group {
    width: auto !important;
}*/